<p align="center">
<img align="center" width="600" src="../imgs/logo.png">
<h3 align="center">Introduction to Data Science</h3>
<h4 align="center">Chapter 2: Pandas Apply</h4>
<h5 align="center">Yam Peleg</h5>
</p>
<hr>

Many of the slides and notebooks in this repository are based on other repositories and tutorials. 

**References for this notebook:**  

* **[Daniel Chen - Pandas For Everyone](https://github.com/chendaniely/pandas_for_everyone)**
* **[Guilherme Samora - Pandas Excercises](https://github.com/guipsamora/pandas_exercises)**
<hr>

### The Data

![](https://www.reno.gov/Home/ShowImage?id=7739&t=635620964226970000)

**Competition Description from Kaggle**  
With 79 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa, this competition challenges you to predict the final price of each home.

**Data description**  
This is a detailed description of the 79 features and their entries, quite important for this competition.  
You can download the txt file here: [**download**](https://www.kaggle.com/c/5407/download/data_description.txt)

**References**  

* **[Kaggle: Comprehensive data exploration with Python](https://www.kaggle.com/pmarcelino/comprehensive-data-exploration-with-python)**
* **[Udemy: Python for Data Science and Machine Learning Bootcamp](https://www.udemy.com/python-for-data-science-and-machine-learning-bootcamp/)**
* **[Data School: Machine learning in Python with scikit-learn](https://www.youtube.com/playlist?list=PL5-da3qGB5ICeMbQuqbbCOQWcS6OYBr5A)**

### Pandas Apply:

Again, load the house prices data.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

In [2]:
def my_function():
    pass

In [3]:
def my_sq(x):
    return x ** 2

In [4]:
my_sq(4)

16

In [5]:
assert my_sq(4) == 16

In [6]:
def avg_2(x, y):
    return (x + y) / 2

In [7]:
avg_2(10, 20)

15.0

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})

In [10]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [12]:
def my_exp(x, e):
    return x ** e

In [13]:
my_exp(4, 2)

16

In [14]:
my_exp(4, 3)

64

In [15]:
df['a'].apply(my_exp, e=4)

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [16]:
def print_me(x):
    print(x)

In [17]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [18]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [19]:
import numpy as np

In [20]:
def avg_3_apply(col):
    return np.mean(col)

In [21]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [22]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [23]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [24]:
df['a'].mean()

20.0

In [25]:
df['a'] + df['b']

0    30
1    50
2    70
dtype: int64

In [26]:
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [27]:
avg_2(df['a'], df['b'])

0    15.0
1    25.0
2    35.0
dtype: float64

# Ex 2: Pandas ".apply"


### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/ypeleg/data_hack_haifa/master/data/house_prices.csv) (You Have it also in ../data)

### Step 3. Assign it to a variable called df.

### Step 4 Create a function that lowers strings. (hint: in python every str object has the method ".lower()')

### Step 5. lower both SaleCondition and LotShape

### Step 7. Print the last elements of the data set.

### Step 8. Did you notice the original dataframe is still In Upper Case? Why is that? Fix it and lower both SaleCondition and LotShape

### Step 9. Create a function called is_rich_dude that return a boolean value to a new column called rich_dude if the house (in your opinion) belongs to a rich dude.

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, it is just an exercise